In [2]:
import pandas as pd

In [3]:
data = pd.read_csv('StudentsPerformance.csv')

In [4]:
data.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [5]:
data_lunch = data[data.lunch == 'free/reduced']

In [6]:
len(data_lunch)

355

In [7]:
len(data_lunch) / len(data)

0.355

In [8]:
len(data)

1000

In [10]:
data.lunch.value_counts(normalize=True)

standard        0.645
free/reduced    0.355
Name: lunch, dtype: float64

In [21]:
data_reduce = data[data.lunch == 'free/reduced']

In [22]:
data_standart = data[data.lunch == 'standard']

In [23]:
import numpy as np

In [28]:
data_reduce[['math score', 'reading score', 'writing score']].mean()

math score       58.921127
reading score    64.653521
writing score    63.022535
dtype: float64

In [29]:
data_standart[['math score', 'reading score', 'writing score']].mean()

math score      NaN
reading score   NaN
writing score   NaN
dtype: float64

In [30]:
data_reduce[['math score', 'reading score', 'writing score']].std()

math score       15.159956
reading score    14.895339
writing score    15.433823
dtype: float64

In [27]:
data_standart[['math score', 'reading score', 'writing score']].std()

math score       13.653501
reading score    13.830602
writing score    14.339487
dtype: float64

In [1]:
import pandas as pd
data = pd.read_csv('cats.csv')

In [2]:
data

   Unnamed: 0  Шерстист  Гавкает  Лазает по деревьям      Вид
0           0         1        1                   0  собачка
1           1         1        1                   0  собачка
2           2         1        1                   0  собачка
3           3         1        1                   0  собачка
4           4         1        0                   1    котик
5           5         1        0                   1    котик
6           6         1        0                   1    котик
7           7         1        0                   1    котик
8           8         1        1                   1    котик
9           9         0        0                   1    котик

In [26]:
feature = data['Шерстист']

In [27]:
import math
len_true = len([x for x in feature if x == 1])
len_false = len([x for x in feature if x == 0])
len_all = len(feature)

In [28]:
ent_0 = (-len_false/len_all)* math.log(len_false/len_all, 2)
ent_1 = (-len_true/len_all)* math.log(len_true/len_all, 2)

In [29]:
print(round(ent_0, 2))
print(round(ent_1, 2))

0.33
0.14

In [1]:
from math import log

In [30]:
ep = -(4/10)*log((4/10), 2) - (6/10)*log((6/10), 2)
ep

0.9709505944546686

In [26]:
a1 =-(4/9)*log((4/9), 2) - (5/9)*log((5/9), 2)
a1

0.9910760598382222

In [27]:
a2 = -(4/5)*log((4/5), 2) - (1/5)*log((1/5), 2)
a2

0.7219280948873623

In [28]:
ig1 = 0.9 * 0.99
ep-ig1

0.07995059445466857

In [29]:
ig2 = (5/10) * 0.72
ep-ig2

0.6109505944546686